@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(30, 30, 32);
}

.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(30, 30, 32);
    height: 2.4rem; 
    align-items: center;
    padding: 0px 32px;
    font-family: 'EB Garamond', sans-serif;
    color: rgb(0, 0, 0);    
    
    
}

.nav h1{    
    font-family: 'EB Garamond', sans-serif;
    color: rgb(22, 69, 197);
}

.nav ul{
    display: flex;
    list-style: none;    
    gap: 2rem;
    
}

.nav ul li{
    font-weight: 550;
}

.nav ul li a{
    text-decoration: none;
    font-family: 'EB Garamond', sans-serif;
    font-size: 1.2rem;  
}
  

.container {    
    display: flex;
    width: 60%;
    background: rgb(18, 5, 90);
    padding: 9px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(2, 9, 73, 0.603);
    margin: 50px auto;
}
.text {
    flex: 1;
    padding: 20px;
    
}
.text h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1b7027;
}
.text p {
    font-size: 16px;
    color: #1b7027;
}
.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    max-width: 100%;
    border-radius: 10px;
}